body {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Bungee', cursive;
	color: red;
}

h2 {
	font-family: 'Bungee', cursive;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}